:root {
  /*--blue-main: #0072d3;*/
  --blue-main: #0070d3;
}

html {
  padding-bottom: 400px;
}

* {
  outline: var(--blue-main);
 }

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #1b1b32;
  background-color: #fff;
  font-family: Helvetica, Roboto, sans-serif;
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.3rem;
}

.logo {
  height: 40px;
}

.navbar ul {
  display: flex;
  gap: 2.2rem;
  list-style-type: none;
}

ul>li>a {
 color: #222;
 text-decoration: none;
 font-size: 18px;
}

.highlight-nav-item {
  font-weight: 600;
  color: var(--blue-main);
}

.highlight-a {
  font-weight: 600;;
}

h1, p {
  margin: 1em auto;
  margin-top: 0.4rem;
  text-align: left;
}

h1 {
  font-size: 1.7rem;
}

form {
  width: 60vw;
  max-width: 400px;
  min-width: 300px;
  margin: 6rem auto;
  padding: 4rem;
  border: 1.5px solid #ccc;
  border-radius: 5px;
}

fieldset {
  border: none;
  /*padding: 2rem 0;*/
  padding: 0;
  /*border-bottom: 1.5px solid #ccc;*/
}

fieldset:first-of-type {
  padding-top: 0
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-size: 18px;
}

.hidden-labels {
  font-size: 0;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 95%;
  min-height: 2em;
  font-size: 18px;
  padding: 10px;
}

select {
  width: 101%;
  padding-right: 0;
  margin-right: 0;
  color: #1b1b32;
  background-color: unset;
  min-height: 3em;
}

input, textarea, select {
  border: 1.5px solid #ccc;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
  color: #1b1b32;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin-bottom: 1em;
  height: 3.3em;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  background-color: #0044bb;
  color: #fff;
  border-color: white;
  border-radius: 5px;
  min-width: 300px;

  position: relative;
  overflow: hidden;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #03a9f4;
  animation: loadingWave 1s linear;
  animation-delay: 0.8s;
}

@keyframes loadingWave {
  0% {
      clip-path: polygon(0% 100%, 100% 100%, 99% 100%, 81% 100%, 64% 100%, 46% 100%, 29% 100%, 14% 100%, 0 100%);
      }

  10% {
      clip-path: polygon(0% 100%, 100% 100%, 100% 90%, 84% 94%, 66% 95%, 47% 94%, 31% 95%, 14% 96%, 0 94%);    
            }

  20% {
      clip-path: polygon(0% 100%, 100% 100%, 100% 74%, 81% 72%, 63% 72%, 44% 75%, 33% 77%, 16% 78%, 0 74%);                
      }

  40% {
      clip-path: polygon(0% 100%, 100% 100%, 100% 53%, 85% 55%, 67% 58%, 44% 54%, 30% 48%, 15% 47%, 0 49%);                
      }

  60% {
      clip-path: polygon(0% 100%, 100% 100%, 100% 24%, 86% 25%, 69% 29%, 53% 34%, 37% 38%, 18% 40%, 0 38%); 
      }
            
  80% {
      clip-path: polygon(0% 100%, 100% 100%, 100% 22%, 84% 29%, 67% 31%, 45% 27%, 26% 17%, 12% 14%, 0 15%);    
      }

  90% {
      clip-path: polygon(0% 100%, 100% 100%, 100% 5%, 86% 10%, 73% 10%, 55% 6%, 33% 3%, 15% 5%, 0 9%);   
      }

  100% {
        clip-path: polygon(0% 100%, 100% 100%, 100% 0, 86% 0, 71% 0, 55% 0, 34% 0, 18% 0, 0 0);    
      }
}


input[type="file"] {
  padding: 1px 2px;
  border: none;
}

input::file-selector-button {
  padding: 12px;
  color: var(--blue-main);
  border: 1px solid var(--blue-main);
  border-radius: 5px;
}

a {
  color: var(--blue-main);
}

@media screen and (max-width:450px) {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 10 0%;
    margin: 3rem auto;
    padding: unset;
    border: unset;
  }
  nav {
    border-bottom: 1px solid #ccc;
  }
}
